*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #7e769f42, #eb9d9d4e), url('Niger-1.jpeg') no-repeat ;
    background-size: cover;
}
.left{
    color: rgb(64, 85, 104);
    display: flex;
    justify-content: space-between;
}
h1{
    padding-left: 100px;
    padding-top: 30px;
}
.list{
    width: 400px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    Padding-top: 50px;
}
.btn{
    padding-right: 30px;
    padding-top: 20px;
    word-spacing: -5px;
}
.input{
    height: 20px;
    width: 200px;
    border-right: none;
    border: 1px solid rgb(64, 85, 104);
}
.bt{
    height: 22px;
    width: 70px;
    border-left: none;
    border: 1px solid rgb(64, 85, 104);
    background-color: rgb(64, 85, 104);
    cursor: pointer;
}
.lorem{
color: rgb(255, 253, 253);
text-align: center;
padding: 5px;
width: 40%;
margin: auto;
margin-top: 200px;
}


.btn1{

    padding-top: 20px;
}
.bt1{
    font-size: 20px;
    background-color: rgb(64, 85, 104);
    color: aliceblue;
    cursor: pointer;
}
li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s ease-in-out;
}
a:hover{
    color: rgb(64, 85, 104);
}
.logo{
    margin-top: 20px;
}
footer{
    background-color: aliceblue;
    height: 20vh;
    text-align: center;
    
}
section{
    height: 80vh;
}
.lien{
    padding-top: 20px;
    word-spacing: 20px;
}
.tout{
display: flex;
    padding-top: 20px;
    width: 40%;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    
}